@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../fonts/Inter-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background-about: #252422;
    --color-font-about: #F9CDCD;
    --color-border: #F4F4F4;
}

html {
    font-size: 1rem;
}

body {
    width: 100vw;
    height: auto;
    color: var(--color-font-about);
    background-color: var(--color-background-about);
}

/* header */

header{
    display: flex;
    justify-content: space-between;
    margin: 5vh 5vw;
    /* position: fixed; */
}

.logoHead{
    height: 1rem;
}

header nav{
    display: flex;
    list-style: none;
    gap: 2.5vw;
    color: #F9CDCD;
    font-family: 'Inter-Regular';
    font-size: 0.8125rem;
    font-weight: 400;
    letter-spacing: -0.3px;
    text-transform: uppercase;
}

.menuHead{
    height: 0.5rem;
}

/* main */

main {
    margin: 5vh 5vw;
}

main h2 {
    font-family: 'Inter-Bold';
    font-size: 60px;
}

main h3 {
    font-family: 'Inter-Bold';
    font-size: 40px;
}

main h4 {
    font-family: 'Inter-Bold';
    font-size: 30px;
}

main p {
    font-family: 'Inter-Regular';
    font-size: 16px;
    font-weight: lighter;
}

/* main sectionOne */

.sectionOne {
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* main sectionTwo */

.sectionTwo {
    width: 70vw;
    display: flex;
    justify-content: space-around;
    gap: 5rem;
}

/* main sectionThree */

.sectionThree {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
}

.col {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}

.col h3, h4, p {
    font-weight: lighter;
    padding-top: 0.5rem;
}

.col1 {
    width: 40vw;
}

.col2 {
    width: 30vw;
}

.col3 {
    width: 30vw;
}

/* footer */

footer{
    display: grid;
    grid-template-columns:0.1fr 1fr 1fr 0.1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". logo collab ."
    ". email footerMenu ."
    ". . . ."
    ". footerText footerText .";
    background-color: white;
    color: #252422;
    gap:2.5%;
    padding-top: 5%;
}
footer a{
    grid-area: logo;
}

footer img{
    height: 1rem;
}

.collab{
    grid-area: collab;
    display: flex;
    flex-direction: column;
    color: #252422;
    font-family: 'Inter-Regular';
    font-size: 1.675rem;
    font-weight: 700;
    margin-bottom: 10%;
}

span{
    text-decoration: underline;
}

.email{
    grid-area: email;
    display: flex;
    flex-direction: column;
    gap: 7.5%;
}

.email p{
    color: #252422;
    font-family: 'Inter-Regular';
    font-size: 0.9375rem;
    font-weight: 400;
}

.email label{
    color: #252422;
    font-family: Arial;
    font-size: 0.833125rem;
    font-weight: 400;
    line-height: 420.001%;
}

input[type=email]{
    border: 0;
    border-bottom: 0.625px solid #252422;
    background: #252422;
}

.footerMenu{
    grid-area: footerMenu;
    display: flex;
    gap: 15%;
}

.social, .initatives, .offices{
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.footerMenu h4{
    color: #252422;
    font-family: 'Inter-Regular';
    font-size: 1.075rem;
    font-weight: 700;
}

.footerMenu ul{
    list-style: none;
    color: #252422;
    font-family: 'Inter-Regular';
    font-size: 0.8375rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footerText{
    grid-area: footerText;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #5E5E5E;
    font-family: 'Inter-Regular';
    font-size: 0.625rem;
    font-weight: 400;
}