                /* Font Family */
@font-face {
    font-family: "inter-bold";
    src: url("../fonts/Inter-Bold.ttf");
}

@font-face {
    font-family: "inter-medium";
    src: url("../fonts/Inter-Medium.ttf");
}

@font-face {
    font-family: "inter";
    src: url("../fonts/Inter-Regular.ttf");
}

                /* Global Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

html {
    font-size: 16px;
    font-family: "inter";
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.3rem;
}

h1, h2, h3 {
    font-family: 'inter-bold';
}

                /* Header */

header{
    display: flex;
    justify-content: space-between;
    margin: 5vh 5vw;
    /* position: fixed; */
}

.logoHead{
    height: 1rem;
}

header nav{
    display: flex;
    list-style: none;
    gap: 2.5vw;
    color: #252422;
    font-family: "Inter";
    font-size: 0.8125rem;
    font-weight: 400;
    letter-spacing: -0.3px;
    text-transform: uppercase;
}

header nav a {
    color: #252422;
}

header nav a:not(:nth-of-type(1)){
    text-decoration: none;
}

.menuHead{
    height: 0.5rem;
}

                /* Main */

.headerWork {
    padding: 3vw 6vw 0px 6vw;
    margin-bottom: 10vh;
}

.headerWork div {
    display: inline-flex;
    height: 397.5px;
    width: 20vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 15vh;
}

.headerWork p {
    width: 23vw;
    margin-bottom: 1vh; 
    margin-left: 65vw;
}

.work {
    display: flex;
    flex-direction: column;
    padding: 3vw 6vw 0px 6vw;
}

.info {
    display: flex;
    justify-content: space-between;
    border-top: 0.625px solid #252422;
    padding-top: 2vh;
    margin-bottom: 4vh;
    gap: 1vw;
    width: 100%;
}
.headline, .img {
    width: 33%;
}

.headline {
    display: flex;
    flex-direction: column;
    border-right: 0.625px solid #252422;
    gap: 30vh;
}

.center {
    display: flex;
    flex-direction: column;
}

.center h2 {
    margin-right: 15vw;
}

.center p {
    font-size: 0.938rem;
    margin-right: 2vw;
    margin-top: 3vh;

}

button {
    font-size: 0.625rem;
    background-color: white;
    border: 1px solid #252422 ;
    border-radius: 15px;
    padding: 0.5vh;
    width: 80px;
    margin-top: 3vh;
}

button a {
    text-decoration: none;
    color: #252422;
}

button:hover{
    background-color: #252422;
}

button:hover a {
    color: white;
}

.img {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.img p {
    font-size: 0.813rem;
    width: 28vh;
    text-transform: uppercase;
}
                /* Footer */

footer{
    display: grid;
    grid-template-columns:0.1fr 1fr 1fr 0.1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". logo collab ."
    ". email footerMenu ."
    ". . . ."
    ". footerText footerText .";
    background-color: #252422;
    color: #F4F4F4;
    gap:2.5%;
    padding-top: 5%;
}
footer a{
    grid-area: logo;
}

footer img{
    height: 1rem;
}

.collab{
    grid-area: collab;
    display: flex;
    flex-direction: column;
    color: #F4F4F4;
    font-family: "Inter";
    font-size: 1.675rem;
    font-weight: 700;
    margin-bottom: 10%;
}

span{
    text-decoration: underline;
}

.email{
    grid-area: email;
    display: flex;
    flex-direction: column;
    gap: 7.5%;
}

.email p{
    color: #F4F4F4;
    font-family: "Inter";
    font-size: 0.9375rem;
    font-weight: 400;
}

.email label{
    color: #F4F4F4;
    font-family: Arial;
    font-size: 0.833125rem;
    font-weight: 400;
    line-height: 420.001%;
}

footer input[type=email] {
    border: 0;
    border-bottom: 0.625px solid #F4F4F4;
    background: #252422;
}

.footerMenu{
    grid-area: footerMenu;
    display: flex;
    gap: 15%;
}

.social, .initatives, .offices{
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.footerMenu h4{
    color: #F4F4F4;
    font-family: "Inter";
    font-size: 1.075rem;
    font-weight: 700;
}

.footerMenu ul{
    list-style: none;
    color: #F4F4F4;
    font-family: "Inter";
    font-size: 0.8375rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footerText{
    grid-area: footerText;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #5E5E5E;
    font-family: "Inter";
    font-size: 0.625rem;
    font-weight: 400;
}